{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        $(document).ready(function () {
            $('#logout').text("")
            $('#mypage').text("")

            $("#userpw").keyup(function(e){if(e.keyCode == 13)  login(); });

        });

        document.getElementById('loginbtn').addEventListener("keyup", function (e) {
            if (e.keyCode === 13) {
                 e.preventDefault();
                 document.getElementById('loginbtn').click();

                return false;
            }
        })

        {% if msg %}
            alert("{{ msg }}")
        {% endif %}
        // ['쿠키'라는 개념에 대해 알아봅시다]
        // 로그인을 구현하면, 반드시 쿠키라는 개념을 사용합니다.
        // 페이지에 관계없이 브라우저에 임시로 저장되는 정보입니다. 키:밸류 형태(딕셔너리 형태)로 저장됩니다.
        // 쿠키가 있기 때문에, 한번 로그인하면 네이버에서 다시 로그인할 필요가 없는 것입니다.
        // 브라우저를 닫으면 자동 삭제되게 하거나, 일정 시간이 지나면 삭제되게 할 수 있습니다.
        function login() {
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {id_give: $('#userid').val(), pw_give: $('#userpw').val()},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 로그인이 정상적으로 되면, 토큰을 받아옵니다.
                        // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장합니다.
                        $.cookie('mytoken', response['token']);

                        alert('로그인 완료!')
                        window.location.href = '/main?location=전체'
                    } else {
                        // 로그인이 안되면 에러메시지를 띄웁니다.
                        alert(response['msg'])
                    }
                }
            })
        }

        function gotoregister() {
            window.location.href = '../register';
        }
    </script>
    <style>
        body {
            background-image: url('../static/bgimage_blur.jpg');
        }

        #register {
            border: 3px solid #0B2161;
            border-radius: 15px;
            width: 80%;
            height: 600px;

            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }

        form {
            text-align: center;
        }

        form .row {
            margin: 50px 0px;
        }

        label {
            font-size: 32px;
            width: 100%;
            text-align: center;
            color: #0B2161;
        }

        input {
            margin-top: 10px;
            width: 100%;
        }

    </style>
{% endblock %}

{% block body %}
    <!-- body -->
    <div class="container" id="register">
        <h1 style="text-align: center; color: #0B2161; margin: 50px 0px;">Login</h1>

        <form action="">
            <div class="row md" id="idform">
                <div class="col-md-2"></div>
                <div class="col-md-4"><label for="" id="id_label ">ID: </label></div>
                <div class="col-md-4" style="text-align: center;">
                    <input type="text" id="userid" placeholder="Input ID">
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row md" id="pwform">
                <div class="col-md-2"></div>
                <div class="col-md-4"><label for="" id="pw_label">PASSWORD: </label></div>
                <div class="col-md-4" style="text-align: center;">
                    <input id="userpw" type="password" placeholder="Input PW">
                </div>
                <div class="col-md-2"></div>
            </div>

            <button class="btn btn-primary" id="loginbtn" onclick="login()" type="button">Login</button>
            <button class="btn btn-primary" onclick="gotoregister()" type="button">Register</button>


        </form>


    </div>
{% endblock %}