{% extends "base.html" %}

{% block head %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- api -->
    <script>
        $(document).ready(function () {
            let address = window.location.href;

            let sort = address.split("sort=")[1];
            let location = address.split("location=")[1];
            location = location.split("&")[0]
            location = decodeURIComponent(location);

            let locations = ["전체", "강원", "경기", "경남", "경북", "전남", "전북", "제주", "충남", "충북"]
            let index = locations.indexOf(location)

            $('#location_choosed').removeAttr('id');
            document.getElementsByClassName("menu-title")[index].setAttribute("id", "location_choosed")

            $('.sort_select').val(sort)
        });


        // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
        function logout() {
            $.removeCookie('mytoken');
            alert('로그아웃!')
            window.location.href = '/login'
        }

        function a_clicked(location) {
            let locations = ["전체", "강원", "경기", "경남", "경북", "전남", "전북", "제주", "충남", "충북"]
            let index = locations.indexOf(location)

            $('#location_choosed').removeAttr('id');
            document.getElementsByClassName("menu-title")[index].setAttribute("id", "location_choosed")

            lets_sort()
        }

        function lets_sort() {
            let location = $('#location_choosed').text();
            let sorting = $('.sort_select').val()


            console.log = ("/main?location=" + location + "&sort=" + sorting);
            window.location.href = "main?location=" + location + "&sort=" + sorting;
        }

        function changed() {
            alert($('.sort_select').val())
        }

    </script>

    <!-- 추후 디자인 및 레이아웃 수정 시 삭제할 부분 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        body {
            background-image: url("../static/bgimage_blur.jpg");
            padding: 0;
            margin: 0;
        }

        .select {
            margin-top: 30px;
            position: absolute;
            right: 80px;

        }

        .sort_select {
        }

        #menubar {
            margin-top: 100px;
            margin-bottom: 30px;
        }

        .menu-title {
            color: black;
        }

        .menu-title:hover {
            text-decoration: none;
            color: #718093;
        }

        .pension {
            margin-bottom: 20px;
            text-align: center;
        }

        .row {
            margin: 0px 40px;
        }

        .card {
            border: 2px solid #0B2161;
            border-radius: 15px;
        }

        .card:hover {
            background-color: #0B2161;
            color: white;
        }

        .card-img-top {
            margin-top: 0px;
            width: 100%;
            border-radius: 13px;
        }

        a:hover {
            text-decoration: none;
        }


        .wrap {
            /*
            width: 900px;
             */
            margin: auto;
        }

        .container {
            padding-left: 50px;
        }

        #location_choosed {
            background-color: #0B2161;
            padding: 5px;
            border-radius: 5px;
            color: white;
        }
        .col-md-1 {
            text-align: center;
        }
    </style>


    <title>MO:PEN Main</title>
{% endblock %}

{% block body %}

    <div class="select">
        <select class="form-select form-select-lg mb-3 sort_select" aria-label=".form-select-lg example"
                onchange="lets_sort()">
            <option value="1" selected>모펜추천순</option>
            <option value="2">가격높은순</option>
            <option value="3">가격낮은순</option>
            <option value="4">평점높은순</option>
            <option value="5">평점낮은순</option>
        </select>
    </div>

    <div class="row md" id="menubar">
        <div class="col-md-1"></div>
        <div class="col-md-1"><a class="menu-title" id="location_choosed" onclick="a_clicked(this.text)">전체</a></div>
        <div class="col-md-1"><a class="menu-title" onclick="a_clicked(this.text)">강원</a></div>
        <div class="col-md-1"><a class="menu-title" onclick="a_clicked(this.text)">경기</a></div>
        <div class="col-md-1"><a class="menu-title" onclick="a_clicked(this.text)">경남</a></div>
        <div class="col-md-1"><a class="menu-title" onclick="a_clicked(this.text)">경북</a></div>
        <div class="col-md-1"><a class="menu-title" onclick="a_clicked(this.text)">전남</a></div>
        <div class="col-md-1"><a class="menu-title" onclick="a_clicked(this.text)">전북</a></div>
        <div class="col-md-1"><a class="menu-title" onclick="a_clicked(this.text)">제주</a></div>
        <div class="col-md-1"><a class="menu-title" onclick="a_clicked(this.text)">충남</a></div>
        <div class="col-md-1"><a class="menu-title" onclick="a_clicked(this.text)">충북</a></div>
        <div class="col-md-1"></div>

    </div>


    <div class="row">
        {% for pension in pensions %}
            <div class="col-6 col-md-4 pension">
                <a href="{{ url_for('pension_detail', pension_id=pension._id) }}">
                    <div class="card" id="{{ pension._id }}" ">
                        <img class="card-img-top pensioncard" src="{{ pension.img }}" alt="pension image cap"
                             style="cursor: pointer"/>
                        <div class="card-body">
                            <h5 class="card-location">{{ pension.location }}</h5>
                            <h5 class="card-name">{{ pension.name }}</h5>
                            <span>평점: {{ pension.rate }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock %}