{% extends "base.html" %}

{% block head %}
    <script>
    </script>
    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        body {
            background-image: url("../static/bgimage_blur.jpg");
            padding: 0;
            margin: 0;
        }

        .select {
            margin-top: 30px;
            position: absolute;
            right: 80px;

        }

        #menubar {
            margin-top: 100px;
            margin-bottom: 30px;
        }

        .menu-title {
            color: black;
        }

        .menu-title:hover {
            text-decoration: none;
            color: #718093;
        }

        .pension {
            margin-bottom: 20px;
            text-align: center;
        }

        .card {
            border: 2px solid #0B2161;
            border-radius: 15px;
        }

        .card:hover {
            background-color: #0B2161;
            color: white;
        }

        .card-img-top {
            margin-top: 0px;
            width: 100%;
            border-radius: 13px;
        }

        a:hover {
            text-decoration: none;
        }

        #location_choosed {
            background-color: #0B2161;
            padding: 5px;
            border-radius: 5px;
            color: white;
        }
        .col-md-1 {
            text-align: center;
        }

        #pensions {

        }
    </style>
{% endblock %}

{% block body %}

    <div class="row" id="pensions">
				<h1 style="text-align: center; margin-top: 50px; color: #0b2161">
        {{ nickname }}님의 즐겨찾기
				</h1>
        {% for pension in pensions %}
            <div class="col-6 col-md-4 pension">
                <a href="{{ url_for('pension_detail', pension_id=pension._id) }}">
                    <div class="card" id="{{ pension._id }}">
                        <img class="card-img-top pensioncard" src="{{ pension.img }}" alt="pension image cap" style="cursor: pointer"/>
                        <div class="card-body">
                            <h5 class="card-location">{{ pension.location }}</h5>
                            <h5 class="card-name">{{ pension.name }}</h5>
                            <span>평점: {{ pension.rate }}</span>
                            ddd
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}